{% extends 'ecommerce/common.html' %}
{% block content %}
<div class="app-content">
  <div class="app-content-header">
    <h1 class="app-content-headerText">{{filter}}</h1>
  </div>
  <div style="margin-top:30px" class="products-area-wrapper tableView">
    <div class="products-header">
      <div class="product-cell image">
        Email
        <button class="sort-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
          </svg>
        </button>
      </div>
      <div class="product-cell category">Username<button class="sort-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
          </svg>
        </button></div>
    </div>
    {% if filter == "Blacklist Fornitori"%}
      {% for row in list %}
      <div class="products-row">
        <div class="product-cell category"><span style="font-weight: bold;">{{row.user.email}}</span>
        </div>
        <div class="product-cell category"><span style="font-weight: bold;">{{row.user.username}}</span>
        </div>
      </div>
      {% endfor %}
    {% else %}
      {% for row in list %}
      {% if row.last_name == "delete"%}
        <div style="background-color: rgba(255, 0, 0, 0.343);" class="products-row">
      {% else %}
        <div style="background-color: rgba(0, 128, 0, 0.334);" class="products-row">
      {% endif %}
        <div class="product-cell category"><span style="font-weight: bold;">{{row.email}}</span>
        </div>
        <div class="product-cell category"><span style="font-weight: bold;">{{row.username}}</span>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}